body {
    background-color: grey;
    z-index: 1;
}

img.magazin {
    width: 630px;
    height: 630px;
    margin-top: -39%;
    margin-left: 5%;
}

div.horaire {
    margin-left: 50%;
    margin-top: 10%;
    font-size: xx-large;
}

div.ouverture {
    margin-left: 55%;
    margin-top: -40%;
    font-size: xx-large;
    font-weight: bold;
}