body {
    background-color: rgb(56, 56, 56);
    z-index: 1;
    color: #FF00FF;
}

img.magazin {
    width: 560px;
    height: 560px;
    margin-top: -125%;
    margin-left: 15%;
}

div.horaire {
    margin-left: 65%;
    margin-top: -41%;
    font-size: xx-large;
}

div.ouverture {
    margin-left: 60%;
    margin-top: -40%;
    font-size: xx-large;
    font-weight: bold;
}

div.info2 {
    visibility: hidden;
}

div.Facebook {
    margin-top: 35%;
    margin-left: 58%;
    font-size: larger;
}

@media screen and (min-width: 1800px) {
    div.ouverture {
        margin-left: 55%;
        margin-top: -37%;
        font-size: xx-large;
        font-weight: bold;
    }

    img.magazin {
        width: 750px;
        height: 750px;
        margin-top: -32%;
        margin-left: 13%;
    }

    div.info2 {
        display: none;
    }

    div.Facebook {
        margin-top: 35%;
        margin-left: 58%;
        font-size: larger;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1400px) {
    div.ouverture {
        margin-left: 46%;
        margin-top: -72%;
        font-size: xx-large;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 70%;
        margin-top: 15%;
        font-size:xx-large;
        padding: 0;
    }

    img.magazin {
        width: 650px;
        height: 650px;
        margin-top: -66%;
        margin-left: 1%;
    }

    div.info2 {
        margin-top: 70%;
        visibility: visible;
        font-size: xx-large;
    }

    div.Facebook {
        display: none;
    }
}
 @media screen and (max-width: 1020px) and (min-width: 800px) {
    div.ouverture {
        margin-left: 22%;
        margin-top: -67%;
        font-size: xx-large;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 25%;
        margin-top: 25%;
        font-size:xx-large;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 75%;
        visibility: visible;
        font-size: 175%;
    }

    div.Facebook {
        display: none;
    }
 }

@media screen and (max-width: 800px) and (min-width: 667px) {

    div.ouverture {
        margin-left: 22%;
        margin-top: -77%;
        font-size: xx-large;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 25%;
        margin-top: 25%;
        font-size:xx-large;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 75%;
        visibility: visible;
        font-size: 175%;
    }
    
    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 667px) and (min-width: 600px) {
    div.ouverture {
        margin-left: 45%;
        margin-top: -45%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 45%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        width: 230px;
        height: 230px;
        margin-top: -44%;
        margin-left: 0.25%;
        position:absolute;
    }

    div.info2 {
        margin-top: 45%;
        visibility: visible;
    }
    
    div.Facebook {
        display: none;
    }
}

 @media screen and (max-width: 600px) and (min-width: 575px) {
    div.ouverture {
        margin-left: 35%;
        margin-top: -50%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 45%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        width: 230px;
        height: 230px;
        margin-top: -44%;
        margin-left: 0.25%;
        position:absolute;
    }

    div.info2 {
        margin-top: 45%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
 }

@media screen and (max-width: 575px) and (min-width: 530px){
    div.ouverture {
        margin-left: 35%;
        margin-top: -55%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 45%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        width: 225px;
        height: 225px;
        margin-top: -44%;
        margin-left: 0.25%;
        position:absolute;
    }

    div.info2 {
        margin-top: 55%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 530px) and (min-width: 490px) {
    div.ouverture {
        margin-left: 30%;
        margin-top: -55%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 70%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 490px) and (min-width: 455px) {
    div.ouverture {
        margin-left: 30%;
        margin-top: -60%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 70%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 455px) and (min-width: 420px) {
    div.ouverture {
        margin-left: 30%;
        margin-top: -65%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 70%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 420px) and (min-width: 410px){
    div.ouverture {
        margin-left: 30%;
        margin-top: -69%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 70%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 410px) and (min-width: 370px){
    div.ouverture {
        margin-left: 30%;
        margin-top: -73%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 70%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 370px) and (min-width: 350px){

    div.ouverture {
        margin-left: 5%;
        margin-top: -80%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 85%;
        visibility: visible;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 350px) and (min-width: 321px){

    div.ouverture {
        margin-left: 5%;
        margin-top: -86%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 10%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 321px) and (min-width: 300px){

    div.ouverture {
        margin-left: 22%;
        margin-top: -95%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 14%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 95%;
        visibility: visible;
        font-size: medium
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 300px) and (min-width: 270px){

    div.ouverture {
        margin-left: 22%;
        margin-top: -100%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 15%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 95%;
        visibility: visible;
        font-size: medium
    }

    div.Facebook {
        display: none;
    }
}

@media screen and (max-width: 270px) {

    div.ouverture {
        margin-left: 20%;
        margin-top: -140%;
        font-size: medium;
        font-weight: bold;
    }

    div.horaire {
        margin-left: 5%;
        margin-top: 20%;
        font-size:medium;
    }

    img.magazin {
        display: none;
    }

    div.info2 {
        margin-top: 95%;
        visibility: visible;
        font-size: medium
    }

    div.Facebook {
        display: none;
    }
}