body {
    background-color: #313438;
    z-index: 1;
    color: #f8a5c2;
}


/* Mettre toutes les images a la même taille */
img.image_presentation {
    width: 300px;
    height: 300px;
    padding: 1px;
    transition: all 0.75s ease;
}

img.image_presentation:hover {
    padding: 1px;
    display: block;
    float: none;
    transform: scale(1.11);
    transition: all 0.75s ease;
}

div.image1 {
    margin-top: -46%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}

div.image2 {
    margin-top: -46%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
    z-index: 1;
}
div.image3 {
    margin-top: -46%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image4 {
    margin-top: -25%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image5 {
    margin-top: -25%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}

div.image6 {
    margin-top: -25%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}
div.image7 {
    margin-top: -4%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image8 {
    margin-top: -4%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}

div.image9 {
    margin-top: -4%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}
div.image10 {
    margin-top: 17%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image11 {
    margin-top: 17%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}

div.image12 {
    margin-top: 17%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image13 {
    margin-top: 38%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image14 {
    margin-top: 38%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}
div.image15 {
    margin-top: 38%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image16 {
    margin-top: 59%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image17 {
    margin-top: 59%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}
div.image18 {
    margin-top: 59%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image19 {
    margin-top: 80%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image20 {
    margin-top: 80%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}
div.image21 {
    margin-top: 80%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image22 {
    margin-top: 101%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image23 {
    margin-top: 101%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}
div.image24 {
    margin-top: 101%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image25 {
    margin-top: 122%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image26 {
    margin-top: 122%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}
div.image27 {
    margin-top: 122%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

div.image28 {
    margin-top: 143%;
    text-align: center;
    position: absolute;
    margin-left: 15%;
}
div.image29 {
    margin-top: 143%;
    text-align: center;
    position: absolute;
    margin-left: 36%;
}
div.image30 {
    margin-top: 143%;
    text-align: center;
    position: absolute;
    margin-left: 57%;
}

@media screen and (min-width: 1800px) {
    div.image1 {
        margin-top: -45%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }

    div.image2 {
        margin-top: -45%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
        z-index: 1;
    }

    div.image3 {
        margin-top: -45%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }

    div.image4 {
        margin-top: -23%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }

    div.image5 {
        margin-top: -23%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }

    div.image6 {
    margin-top: -23%;
    text-align: center;
    position: absolute;
    margin-left: 58%;
    }

    div.image7 {
        margin-top: -1%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    
    
    div.image8 {
        margin-top: -1%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    
    div.image9 {
        margin-top: -1%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }
    div.image10 {
        margin-top: 21%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    
    
    div.image11 {
        margin-top: 21%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    
    div.image12 {
        margin-top: 21%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }

    div.image13 {
        margin-top: 43%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    div.image14 {
        margin-top: 43%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    div.image15 {
        margin-top: 43%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }
    
    div.image16 {
        margin-top: 65%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    div.image17 {
        margin-top: 65%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    div.image18 {
        margin-top: 65%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }
    
    div.image19 {
        margin-top: 87%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    div.image20 {
        margin-top: 87%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    div.image21 {
        margin-top: 87%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }
    
    div.image22 {
        margin-top: 109%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    div.image23 {
        margin-top: 109%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    div.image24 {
        margin-top: 109%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }
    
    div.image25 {
        margin-top: 131%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    div.image26 {
        margin-top: 131%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    div.image27 {
        margin-top: 131%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }
    
    div.image28 {
        margin-top: 153%;
        text-align: center;
        position: absolute;
        margin-left: 16%;
    }
    div.image29 {
        margin-top: 153%;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    div.image30 {
        margin-top: 153%;
        text-align: center;
        position: absolute;
        margin-left: 58%;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
        padding: 1px;
        transition: all 0.75s ease;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.1);
        transition: all 0.75s ease;
    }
}

@media screen and (min-width: 1400) and (max-width: 2560) {

}

@media screen and (min-width: 1020px) and (max-width: 1400px) {
    div.image1 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image2 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
        z-index: 2;
    }
    
    
    div.image3 {
        margin-top: 55%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image4 {
        margin-top: 55%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    
    
    div.image5 {
        margin-top: 106%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image6 {
        margin-top: 106%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }

    div.image7 {
        margin-top: 157%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    
    div.image8 {
        margin-top: 157%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    
    div.image9 {
        margin-top: 208%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image10 {
        margin-top: 208%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    
    
    div.image11 {
        margin-top: 259%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image12 {
        margin-top: 259%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    
    div.image13 {
        margin-top: 310%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image14 {
        margin-top: 310%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    div.image15 {
        margin-top: 361%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image16 {
        margin-top: 361%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    div.image17 {
        margin-top: 412%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image18 {
        margin-top: 412%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    
    div.image19 {
        margin-top: 463%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image20 {
        margin-top: 463%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    div.image21 {
        margin-top: 514%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image22 {
        margin-top: 514%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    div.image23 {
        margin-top: 565%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image24 {
        margin-top: 565%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    
    div.image25 {
        margin-top: 616%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image26 {
        margin-top: 616%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    div.image27 {
        margin-top: 667%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image28 {
        margin-top: 667%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }
    div.image29 {
        margin-top: 718%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image30 {
        margin-top: 718%;
        text-align: center;
        position: absolute;
        margin-left: 50%;
    }

    img.image_presentation {
        width: 450px;
        height: 450px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (min-width: 800px) and (max-width: 1020px) {
    div.image1 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image2 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    
    
    div.image3 {
        margin-top: 55%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image4 {
        margin-top: 55%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    
    
    div.image5 {
        margin-top: 106%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image6 {
        margin-top: 106%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }

    
    div.image7 {
        margin-top: 157%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    
    div.image8 {
        margin-top: 157%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    
    div.image9 {
        margin-top: 208%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image10 {
        margin-top: 208%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    
    
    div.image11 {
        margin-top: 259%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image12 {
        margin-top: 259%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }

    div.image13 {
        margin-top: 310%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image14 {
        margin-top: 310%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    div.image15 {
        margin-top: 361%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image16 {
        margin-top: 361%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    div.image17 {
        margin-top: 412%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image18 {
        margin-top: 412%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    
    div.image19 {
        margin-top: 463%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image20 {
        margin-top: 463%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    div.image21 {
        margin-top: 514%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image22 {
        margin-top: 514%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    div.image23 {
        margin-top: 565%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image24 {
        margin-top: 565%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    
    div.image25 {
        margin-top: 616%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image26 {
        margin-top: 616%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    div.image27 {
        margin-top: 667%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image28 {
        margin-top: 667%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }
    div.image29 {
        margin-top: 718%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    div.image30 {
        margin-top: 718%;
        text-align: center;
        position: absolute;
        margin-left: 55%;
    }

    img.image_presentation {
        width: 350px;
        height: 350px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

 @media screen and (max-width: 800px) and (min-width: 667px) {
    div.image1 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image2 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    
    
    div.image3 {
        margin-top: 55%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image4 {
        margin-top: 55%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    
    
    div.image5 {
        margin-top: 106%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image6 {
        margin-top: 106%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image7 {
        margin-top: 157%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    
    div.image8 {
        margin-top: 157%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    
    div.image9 {
        margin-top: 208%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image10 {
        margin-top: 208%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    
    
    div.image11 {
        margin-top: 259%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image12 {
        margin-top: 259%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }

    
    div.image13 {
        margin-top: 310%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image14 {
        margin-top: 310%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image15 {
        margin-top: 361%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image16 {
        margin-top: 361%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image17 {
        margin-top: 412%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image18 {
        margin-top: 412%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    
    div.image19 {
        margin-top: 463%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image20 {
        margin-top: 463%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image21 {
        margin-top: 514%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image22 {
        margin-top: 514%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image23 {
        margin-top: 565%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image24 {
        margin-top: 565%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    
    div.image25 {
        margin-top: 616%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image26 {
        margin-top: 616%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image27 {
        margin-top: 667%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image28 {
        margin-top: 667%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }
    div.image29 {
        margin-top: 718%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image30 {
        margin-top: 718%;
        text-align: center;
        position: absolute;
        margin-left: 49%;
    }

    img.image_presentation {
        width: 350px;
        height: 350px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
 }

@media screen and (max-width: 667px) and (min-width: 530px) {
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image2 {
        margin-top: 75%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    
    div.image3 {
        margin-top: 147%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image4 {
        margin-top: 220%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    
    div.image5 {
        margin-top: 293%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image6 {
        margin-top: 367%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }

    div.image7 {
        margin-top: 441%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    
    div.image8 {
        margin-top: 515%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image9 {
        margin-top: 589%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image10 {
        margin-top: 663%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    
    div.image11 {
        margin-top: 737%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image12 {
        margin-top: 811%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }

    div.image13 {
        margin-top: 883%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image14 {
        margin-top: 955%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image15 {
        margin-top: 1027%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image16 {
        margin-top: 1099%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image17 {
        margin-top: 1171%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image18 {
        margin-top: 1243%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image19 {
        margin-top: 1315%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image20 {
        margin-top: 1387%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image21 {
        margin-top: 1459%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image22 {
        margin-top: 1531%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image23 {
        margin-top: 1603%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image24 {
        margin-top: 1675%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image25 {
        margin-top: 1747%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image26 {
        margin-top: 1819%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image27 {
        margin-top: 1891%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image28 {
        margin-top: 1963%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image29 {
        margin-top: 2035%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    div.image30 {
        margin-top: 2107%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 530px) and (min-width: 500px) {
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image2 {
        margin-top: 75%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image3 {
        margin-top: 165%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image4 {
        margin-top: 255%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image5 {
        margin-top: 345%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image6 {
        margin-top: 425%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }

    div.image7 {
        margin-top: 515%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    
    div.image8 {
        margin-top: 595%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image9 {
        margin-top: 685%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image10 {
        margin-top: 775%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    
    div.image11 {
        margin-top: 865%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image12 {
        margin-top: 955%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }

    div.image13 {
        margin-top: 1045%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image14 {
        margin-top: 1135%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image15 {
        margin-top: 1225%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image16 {
        margin-top: 1315%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image17 {
        margin-top: 1405%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image18 {
        margin-top: 1495%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image19 {
        margin-top: 1585%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image20 {
        margin-top: 1675%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image21 {
        margin-top: 1765%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image22 {
        margin-top: 1855%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image23 {
        margin-top: 1945%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image24 {
        margin-top: 2035%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image25 {
        margin-top: 2125%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image26 {
        margin-top: 2215%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image27 {
        margin-top: 2305%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image28 {
        margin-top: 2495%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image29 {
        margin-top: 2585%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    div.image30 {
        margin-top: 2675%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 500px) and (min-width: 470px) {
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image2 {
        margin-top: 80%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image3 {
        margin-top: 155%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image4 {
        margin-top: 230%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image5 {
        margin-top: 305%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image6 {
        margin-top: 380%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }

    div.image7 {
        margin-top: 455%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    
    div.image8 {
        margin-top: 530%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image9 {
        margin-top: 605%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image10 {
        margin-top: 680%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    
    div.image11 {
        margin-top: 755%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image12 {
        margin-top: 830%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image13 {
        margin-top: 915%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image14 {
        margin-top: 1000%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image15 {
        margin-top: 1085%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image16 {
        margin-top: 1170%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image17 {
        margin-top: 1255%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image18 {
        margin-top: 1340%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image19 {
        margin-top: 1425%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image20 {
        margin-top: 1510%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image21 {
        margin-top: 1595%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image22 {
        margin-top: 1680%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image23 {
        margin-top: 1765%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image24 {
        margin-top: 1850%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image25 {
        margin-top: 1935%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image26 {
        margin-top: 2020%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image27 {
        margin-top: 2105%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image28 {
        margin-top: 2190%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image29 {
        margin-top: 2275%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    div.image30 {
        margin-top: 2360%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 470px) and (min-width: 420px){
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image2 {
        margin-top: 89%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image3 {
        margin-top: 174%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image4 {
        margin-top: 260%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image5 {
        margin-top: 345%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image6 {
        margin-top: 430%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }

    div.image7 {
        margin-top: 515%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    
    div.image8 {
        margin-top: 600%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image9 {
        margin-top: 685%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image10 {
        margin-top: 770%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image11 {
        margin-top: 855%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image12 {
        margin-top: 940%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image13 {
        margin-top: 1025%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image14 {
        margin-top: 1110%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image15 {
        margin-top: 1195%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image16 {
        margin-top: 1280%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image17 {
        margin-top: 1365%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image18 {
        margin-top: 1450%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image19 {
        margin-top: 1535%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image20 {
        margin-top: 1620%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image21 {
        margin-top: 1705%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image22 {
        margin-top: 1790%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image23 {
        margin-top: 1875%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image24 {
        margin-top: 1960%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image25 {
        margin-top: 2045%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image26 {
        margin-top: 2130%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image27 {
        margin-top: 2215%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    div.image28 {
        margin-top: 2300%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image29 {
        margin-top: 2385%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    div.image30 {
        margin-top: 2470%;
        text-align: center;
        position: absolute;
        margin-left: 13%;
    }
    
    img.image_presentation {
        width: 375px;
        height: 375px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}
    
@media screen and (max-width: 420px) and (min-width: 410px){
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image2 {
        margin-top: 95%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image3 {
        margin-top: 185%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image4 {
        margin-top: 275%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image5 {
        margin-top: 365%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image6 {
        margin-top: 455%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }

    div.image7 {
        margin-top: 545%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    
    div.image8 {
        margin-top: 635%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image9 {
        margin-top: 725%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image10 {
        margin-top: 815%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    
    div.image11 {
        margin-top: 905%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image12 {
        margin-top: 995%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image13 {
        margin-top: 1085%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image14 {
        margin-top: 1175%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image15 {
        margin-top: 1265%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image16 {
        margin-top: 1355%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image17 {
        margin-top: 1445%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image18 {
        margin-top: 1535%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image19 {
        margin-top: 1625%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image20 {
        margin-top: 1715%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image21 {
        margin-top: 1805%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image22 {
        margin-top: 1895%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image23 {
        margin-top: 1985%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image24 {
        margin-top: 2075%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image25 {
        margin-top: 2165%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image26 {
        margin-top: 2255%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image27 {
        margin-top: 2345%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image28 {
        margin-top: 2435%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image29 {
        margin-top: 2525%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    div.image30 {
        margin-top: 2615%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }

    img.image_presentation {
        width: 350px;
        height: 350px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 410px) and (min-width: 370px){
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image2 {
        margin-top: 94%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image3 {
        margin-top: 184%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image4 {
        margin-top: 274%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image5 {
        margin-top: 364%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image6 {
        margin-top: 454%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }

    div.image7 {
        margin-top: 544%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    
    div.image8 {
        margin-top: 634%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image9 {
        margin-top: 724%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image10 {
        margin-top: 814%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    
    div.image11 {
        margin-top: 904%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image12 {
        margin-top: 994%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }

    div.image13 {
        margin-top: 1084%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image14 {
        margin-top: 1174%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image15 {
        margin-top: 1264%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image16 {
        margin-top: 1354%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image17 {
        margin-top: 1444%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image18 {
        margin-top: 1534%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image19 {
        margin-top: 1624%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image20 {
        margin-top: 1714%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image21 {
        margin-top: 1804%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image22 {
        margin-top: 1894%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image23 {
        margin-top: 1984%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image24 {
        margin-top: 2074%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image25 {
        margin-top: 2164%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image26 {
        margin-top: 2254%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image27 {
        margin-top: 2344%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image28 {
        margin-top: 2434%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image29 {
        margin-top: 2524%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    div.image30 {
        margin-top: 2614%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }

    img.image_presentation {
        width: 325px;
        height: 325px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 370px) and (min-width: 320px){
    div.image1 {
        margin-top: 1%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image2 {
        margin-top: 90%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image3 {
        margin-top: 180%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image4 {
        margin-top: 270%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image5 {
        margin-top: 360%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image6 {
        margin-top: 450%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image7 {
        margin-top: 540%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    
    div.image8 {
        margin-top: 630%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image9 {
        margin-top: 720%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image10 {
        margin-top: 810%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    
    div.image11 {
        margin-top: 900%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image12 {
        margin-top: 990%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }

    div.image13 {
        margin-top: 1080%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image14 {
        margin-top: 1170%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image15 {
        margin-top: 1260%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image16 {
        margin-top: 1350%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image17 {
        margin-top: 1440%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image18 {
        margin-top: 1530%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image19 {
        margin-top: 1620%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image20 {
        margin-top: 1710%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image21 {
        margin-top: 1800%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image22 {
        margin-top: 1890%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image23 {
        margin-top: 1980%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image24 {
        margin-top: 2070%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image25 {
        margin-top: 2160%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image26 {
        margin-top: 2250%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image27 {
        margin-top: 2340%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image28 {
        margin-top: 2430%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image29 {
        margin-top: 2520%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    div.image30 {
        margin-top: 2610%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }

    img.image_presentation {
        width: 300px;
        height: 300px;
    }
    
    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 320px) and (min-width: 270px){
    div.image1 {
        margin-top: 2%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image2 {
        margin-top: 95%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image3 {
        margin-top: 190%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image4 {
        margin-top: 285%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image5 {
        margin-top: 380%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image6 {
        margin-top: 475%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }

    
    div.image7 {
        margin-top: 570%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    
    div.image8 {
        margin-top: 665%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image9 {
        margin-top: 760%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image10 {
        margin-top: 855%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    
    div.image11 {
        margin-top: 950%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image12 {
        margin-top: 1045%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }

    div.image13 {
        margin-top: 1140%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image14 {
        margin-top: 1235%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image15 {
        margin-top: 1330%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image16 {
        margin-top: 1425%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image17 {
        margin-top: 1520%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image18 {
        margin-top: 1615%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image19 {
        margin-top: 1710%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image20 {
        margin-top: 1805%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image21 {
        margin-top: 1900%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image22 {
        margin-top: 1995%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image23 {
        margin-top: 2090%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image24 {
        margin-top: 2185%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image25 {
        margin-top: 2165%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image26 {
        margin-top: 2280%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image27 {
        margin-top: 2375%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image28 {
        margin-top: 2470%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image29 {
        margin-top: 2565%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    div.image30 {
        margin-top: 2660%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }

    img.image_presentation {
        width: 260px;
        height: 260px;
    }

    img.image_presentation:hover {
        padding: 1px;
        display: block;
        float: none;
        transform: scale(1.0);
    }
}