body {
    background-color: grey;
    z-index: 1;
}

/* Mettre toutes les images a la même taille */
img.image_presentation {
    width: 400px;
    height: 400px;
    padding: 1px;
    transition: all 0.75s ease;
}

img.image_presentation:hover {
    padding: 1px;
    display: block;
    float: none;
    transform: scale(1.2);
    transition: all 1s ease;
}

div.image1 {
    margin-top: 7%;
    text-align: center;
    position: absolute;
    margin-left: 6%;
}

div.image2 {
    margin-top: 7%;
    text-align: center;
    position: absolute;
    margin-left: 35%;
}

div.image3 {
    margin-top: 7%;
    text-align: center;
    position: absolute;
    margin-left: 64%;
}

/* Commencer redimmention pour Portable / Tablette à 1024 px 
Mettre une image par une image les unes sous les autres ? */