body {
    background-color: grey;
}

img {
    width:650px;
    padding:1px;
    border:1px solid #021a40;
}

#image_presentation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#deffil_image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

