#image_presentation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#deffil_image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: grey;
}