body {
    background-color: rgb(56, 56, 56);
    z-index: 1;
    color: #FF00FF;
}

img.image_presentation {
    width: 300px;
    height: 300px;
    padding: 1px;
}

div.diapo {
    /* Changer la position selon haut de page */
    margin-top: -40%;
    text-align: center;
    position: absolute;
    margin-left: 35%;
    padding: 1px;
    animation-delay: 1.5s;
}

div.image1 {
    /* Changer la position selon haut de page */
    margin-top: -25%;
    text-align: center;
    position: absolute;
    margin-left: 12%;
}

div.image2 {
    /* Changer la position selon haut de page */
    margin-top: -25%;
    text-align: center;
    position: absolute;
    margin-left: 68%;
}

div.image3 {
    /* Changer la position selon haut de page */
    margin-top: -46%;
    text-align: center;
    position: absolute;
    margin-left: 12%;
}

div.image4 {
    /* Changer la position selon haut de page */
    margin-top: -46%;
    text-align: center;
    position: absolute;
    margin-left: 68%;
}

/* Commencer redimmention pour Portable / Tablette à 1024 px 
Mettre une image par une image les unes sous les autres ? */
@media screen and (min-width: 1800px) {
    img.image_presentation {
        width: 350px;
        height: 350px;
        padding: 1px;
    }

    
    div.diapo {
        /* Changer la position selon haut de page */
        margin-top: 9%;
        text-align: center;
        position: absolute;
        margin-left: 35%;
        padding: 1px;
        animation-delay: 1.5s;
    }
}

@media screen and (min-width: 1400) and (max-width: 2560) {

}

@media screen and (min-width: 1020px) and (max-width: 1400px) {
    div.image1 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image2 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 60%;
    }
    
    /* Mag */
    div.image3 {
        margin-top: 60%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image4 {
        margin-top: 60%;
        text-align: center;
        position: absolute;
        margin-left: 60%;
    }

    img.image_presentation {
        width: 550px;
        height: 550px;
    }
    
    div.diapo {
        display: none;
    }
}

@media screen and (min-width: 667px) and (max-width: 1020px) {
    div.image1 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image2 {
        margin-top: 4%;
        text-align: center;
        position: absolute;
        margin-left: 60%;
    }
    
    /* Mag */
    div.image3 {
        margin-top: 60%;
        text-align: center;
        position: absolute;
        margin-left: 3%;
    }
    
    div.image4 {
        margin-top: 60%;
        text-align: center;
        position: absolute;
        margin-left: 60%;
    }

    img.image_presentation {
        width: 400px;
        height: 400px;
    }
    
    div.diapo {
        display: none;
    }
}

@media screen and (max-width: 667px) and (min-width: 530px) {
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image2 {
        margin-top: 75%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    /* Mag */
    div.image3 {
        margin-top: 147%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }
    
    div.image4 {
        margin-top: 220%;
        text-align: center;
        position: absolute;
        margin-left: 17%;
    }

    div.diapo {
        display: none;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
    }
}

@media screen and (max-width: 530px) and (min-width: 500px) {
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image2 {
        margin-top: 75%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image3 {
        margin-top: 165%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }
    
    div.image4 {
        margin-top: 255%;
        text-align: center;
        position: absolute;
        margin-left: 12%;
    }

    div.diapo {
        display: none;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
    }
}

@media screen and (max-width: 500px) and (min-width: 470px) {
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image2 {
        margin-top: 80%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image3 {
        margin-top: 155%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }
    
    div.image4 {
        margin-top: 230%;
        text-align: center;
        position: absolute;
        margin-left: 10%;
    }

    div.diapo {
        display: none;
    }

    img.image_presentation {
        width: 375px;
        height: 375px;
    }
}

@media screen and (max-width: 420px) and (min-width: 410px){
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image2 {
        margin-top: 95%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image3 {
        margin-top: 185%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }
    
    div.image4 {
        margin-top: 275%;
        text-align: center;
        position: absolute;
        margin-left: 6%;
    }

    img.image_presentation {
        width: 350px;
        height: 350px;
    }
    
    div.diapo {
        display: none;
    }
}

@media screen and (max-width: 410px) and (min-width: 370px){
    div.image1 {
        margin-top: 3%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image2 {
        margin-top: 94%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image3 {
        margin-top: 184%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }
    
    div.image4 {
        margin-top: 274%;
        text-align: center;
        position: absolute;
        margin-left: 5%;
    }

    img.image_presentation {
        width: 325px;
        height: 325px;
    }
    
    div.diapo {
        display: none;
    }
}

@media screen and (max-width: 370px) and (min-width: 310px){
    div.image1 {
        margin-top: 1%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image2 {
        margin-top: 90%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image3 {
        margin-top: 180%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }
    
    div.image4 {
        margin-top: 270%;
        text-align: center;
        position: absolute;
        margin-left: 8%;
    }

    img.image_presentation {
        width: 300px;
        height: 300px;
    }

    div.diapo {
        display: none;
    }
}

@media screen and (max-width: 310px) and (min-width: 270px){
    div.image1 {
        margin-top: 2%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image2 {
        margin-top: 97%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image3 {
        margin-top: 192%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }
    
    div.image4 {
        margin-top: 287%;
        text-align: center;
        position: absolute;
        margin-left: 1%;
    }

    div.diapo {
        display: none;
    }

    img.image_presentation {
        width: 260px;
        height: 260px;
    }
}