body {
    font-size: 120%;
}

/* Menus et titre supérieurs */
#Header {
    display: inline-block;
    width: 100%;
    opacity: 100%;
    font-size: 75%;
    list-style: none;
}

a {
    color: #FF00FF;;
}

a:link {
    text-decoration: none;
}

div.info {
    font-size: smaller;
    text-align: right;
    margin: auto;
    /* Aligner verticalement le texte */
    vertical-align: middle;
}

/* Taille image des infos */
img#Facebook {
    width: 32px;
    height: 32px;
}
img#Telephone {
    width: 32px;
    height: 32px;
}
img#Adresse {
    width: 32px;
    height: 32px;
}

nav {
    margin-top: -1%;
    position: fixed;
    z-index: 20;
}

#menu li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #FF69B4;
}

/* couleur lorsque la souris est dessus */
#menu li#deroulant a:hover {
    color: #BA55D3;
}

#menu li a:hover {
    color: #BA55D3;
}

/* Partit propre au fonctionnement du menu déroulant */
#menu ul li#deroulant ul {
    display: none;
}

#menu ul li#deroulant:hover ul {
    display: block;
}

#menu li#deroulant:hover ul li { 
    float: none;
}

@media screen and (min-width: 1025px) {
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 190%;
        color: #FF00FF;
        text-align: center;
        margin-top: -10%;
        /* Texte à la verticale */
        text-orientation: upright;
        writing-mode: vertical-lr;
    }
    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 10%;
        margin-top: -50%;
    }
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #FF69B4;
        width: 125px;
    } 
}
/* Ecran "vide" : rajouter image caché ? */

    h1 {
        font-size: 300%;
        color: #FF00FF;
        text-align: center;
        margin-top: -7%;
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 10%;
    }

    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #FF69B4;
        width: 125px;
        background-color: rgb(56, 56, 56);
    } 


@media screen and (min-width: 1400) and (max-width: 2560) {

    div.info {
        font-size: smaller;
        text-align: right;
        margin: auto;
        display: none;
        /* Aligner verticalement le texte */
        vertical-align: middle;
    }
}

/* Changer disposition image */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    div.info {
        display: none;
    }

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: #FF00FF;
        text-align: center;
        margin-top: 0%;
        margin-right: 0%;
        /* background-color: black; */
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-right: 23%;
    }
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #FF69B4;
        width: 125px;
    } 
}


/* Changer le menu pour portable (ajouter boutton pour l'afficher // le réduire) */
@media screen and (max-width: 1024px) and (min-width: 800px) {
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: #FF00FF;
        text-align: center;
        margin-top: 2%;
        margin-right: -20%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 100%;
        font-size: large;
        position: absolute;
        text-align: center;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #FF69B4;
        width: 175px;

    }
}

@media screen and (max-width: 800px) and (min-width: 667px) {
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: #FF00FF;
        text-align: center;
        margin-top: 2%;
        margin-right: 0%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 100%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: -3%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #FF69B4;
        width: 175px;

    }
}

@media screen and (max-width: 667px) and (min-width: 420px){
    /* Menus et titre supérieurs */
    #Header {
        width: 100%;
        opacity: 100%;
        font-size: 75%;
        list-style: none;
    }

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 150%;
        color: #FF00FF;
        margin-top: -2%;
        margin-right: 5%;
        /* background-color: black; */
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 11%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        padding: 0;
        list-style: none;
        text-align: center;
        color: #FF69B4;
        width: 100px;
    }
    #menu {
        position:relative;
        z-index:2;
    }

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: #FF00FF;
        text-align: center;
        margin-top: 1%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    nav {
        position: fixed;
    }
}

@media screen and (max-width: 420px) and (min-width: 370px){
    /* Menus et titre supérieurs */
    #Header {
        width: 100%;
        opacity: 100%;
        font-size: 75%;
        list-style: none;
    }

    #menu {
        position:relative;
        z-index:2;
    }

    
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 150%;
        color: #FF00FF;
        margin-top: -1%;
        margin-left: 5%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        text-align: center;
        margin-left: 9%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
        color: #FF69B4;
        width: 80px;
        font-size: small;
    }

}

@media screen and (max-width: 370px) and (min-width: 270px) {
    /* Menus et titre supérieurs */
    #Header {
        width: 100%;
        opacity: 100%;
        font-size: 75%;
        list-style: none;
    }

    #menu {
        position:relative;
        z-index:2;
    }

    
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 150%;
        color: #FF00FF;
        margin-top: -1%;
        margin-left: 5%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        text-align: center;
        margin-left: 5%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
        color: #FF69B4;
        width: 80px;
        font-size: small;
    }
}


@media screen and (max-width: 270px) {
    /* Menus et titre supérieurs */
    #Header {
        width: 100%;
        opacity: 100%;
        font-size: 75%;
        list-style: none;
    }

    #menu {
        position:relative;
        z-index:2;
    }

    
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 150%;
        color: #FF00FF;
        margin-top: -1%;
        margin-left: 5%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        text-align: center;
        margin-left: 5%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
        color: #FF69B4;
        width: 80px;
        font-size: small;
    }
}