body {
    font-size: 120%;
    margin-top: 1%;
}

/* Menus et titre supérieurs */
#Header {
    display: inline-block;
    width: 100%;
    opacity: 100%;
    font-size: 75%;
    list-style: none;
}

a {
    color: #000000;
}

a:link {
    text-decoration: none;
}

div.info {
    font-size: smaller;
    text-align: right;
    margin: auto;
    /* Aligner verticalement le texte */
    vertical-align: middle;
}

/* Taille image des infos */
img#Telephone {
    width: 32px;
    height: 32px;
}
img#Adresse {
    width: 32px;
    height: 32px;
}

nav {
    margin-top: -1%;
    position: fixed;
}

#menu li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: rgb(161, 174, 193);
}

/* couleur lorsque la souris est dessus */
#menu li#deroulant a:hover {
    color: rgb(192,149,176);
}

#menu li a:hover {
    color: rgb(192,149,176);
}

/* Partit propre au fonctionnement du menu déroulant */
#menu ul li#deroulant ul {
    display: none;
}

#menu ul li#deroulant:hover ul {
    display: block;
}

#menu li#deroulant:hover ul li { 
    float: none;
}


@media screen and (min-width: 1025px) {
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: rgb(139,40,94);
        text-align: center;
        margin-top: -2%;
        /* background-color: black; */
    }
    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 10%;
    }
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        background-color: black;
        list-style: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 125px;
    } 
}
/* Ecran "vide" : rajouter image caché ? */

    h1 {
        font-size: 200%;
        color: rgb(139,40,94);
        text-align: center;
        margin-top: -2%;
        /* background-color: black; */
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 12%;
    }

    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        background-color: black;
        list-style: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 125px;
    } 


@media screen and (min-width: 1400) and (max-width: 2560) {

    div.info {
        font-size: smaller;
        text-align: right;
        margin: auto;
        display: none;
        /* Aligner verticalement le texte */
        vertical-align: middle;
    }
}





/* Changer disposition image */
@media screen and (min-width: 1024px) and (max-width: 1400px) {

    div.info {
        display: none;
    }

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: rgb(139,40,94);
        text-align: center;
        margin-top: 0%;
        margin-right: 0%;
        /* background-color: black; */
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-right: 23%;
    }
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        background-color: black;
        list-style: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 125px;
    } 
}


/* Changer le menu pour portable (ajouter boutton pour l'afficher // le réduire) */
@media screen and (max-width: 1024px) and (min-width: 667px) {

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: rgb(139,40,94);
        text-align: center;
        margin-top: 2%;
        margin-right: -20%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 23%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        background-color: black;
        list-style: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 125px;

    }
}

@media screen and (max-width: 667px) and (min-width: 460px){
    /* Menus et titre supérieurs */
    #Header {
        width: 100%;
        opacity: 100%;
        font-size: 75%;
        list-style: none;
    }

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 150%;
        color: rgb(139,40,94);
        margin-top: -2%;
        margin-right: 5%;
        /* background-color: black; */
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
        text-align: center;
        margin-left: 20%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        padding: 0;
        background-color: black;
        list-style: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 100px;
    }
    #menu {
        position:relative;
        z-index:2;
    }

    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 200%;
        color: rgb(139,40,94);
        text-align: center;
        margin-top: 1%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    nav {
        position: fixed;
    }

    /*
    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        position: absolute;
    }
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        background-color: black;
        list-style: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 125px;
    }
    */
}





@media screen and (max-width: 460px) and (min-width: 320px){
    /* Menus et titre supérieurs */
    #Header {
        width: 100%;
        opacity: 100%;
        font-size: 75%;
        list-style: none;
    }

    #menu {
        position:relative;
        z-index:2;
    }

    
    /* texte "Au Grain de Pollen */
    h1 {
        font-size: 150%;
        color: rgb(139,40,94);
        margin-top: -1%;
        margin-left: 5%;
        /* background-color: black; */
    }

    div.info {
        display: none;
    }

    #menu {
        display: inline;
        width: 75%;
        font-size: large;
        text-align: center;
        margin-left: 10%;
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }
    #menu li {
        float: left;
        margin: auto;
        padding: 0;
        background-color: black;
        list-style-type: none;
        text-align: center;
        color: rgb(161, 174, 193);
        width: 80px;
        font-size: small;
    }

}